@import url('https://fonts.googleapis.com/css?family=Newsreader:light,regular,bold,italic&subset=latin,latin-ext');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:light,regular,semi-bold,bold,italic&subset=latin,latin-ext');

body {
  margin: 0;
  font-weight: 200;
  font-family: 'Newsreader', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  text-align: left;
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  position: relative;
  line-height: 60%;
  font-size: 34px;
  color: rgba(0, 0, 0, .8);
  line-height: 1;
}

.text-container {
  padding: 2rem;
  margin: auto;
  text-align: left;
  line-height: 34px;
  color: #1e1e1e;
  font-weight: 200;
  font-size: 20px;
  flex: 1 0 45%;
  overflow: hidden;
  overflow-y: scroll;
}

.link-button { 
  background: none!important;
  border: none;
  padding: 0!important;
  /*optional*/
  font-family: arial, sans-serif;
  /*input has OS specific font-family*/
  color: #069;
  text-decoration: underline;
  cursor: pointer;
}
